body {
  background-color: rgb(255, 255, 255);
}

 nav {
      background-color: rgb(0, 0, 0);
      padding: 15px;
      padding-left: 4px;
       text-align: center;
    }
 header {
      background-color: rgb(0,206,200);
      color: rgb(0, 0, 0);
      padding: 15px;
      padding-left: 4px;
       text-align: center;
    }

    footer {
      background-color: #000000;
      color: white;
      text-align: center;
      padding: 15px;
      padding-left: 4px;
    }

h1{padding: 5px;
      padding-left: 1px;
      text-align: center;}

      nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      margin: 10px;
    }

     img {
      width: 100%;
      max-width: 600px;
      margin-top: 15px;
      border-radius: 8px;
    }
    .button {background-color: rgb(0,206,200);
    border-radius: 20px;
 padding: 30px 100px;
font-size: 20px;
}

.container { 
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 200px;
}

 .smooth-square {
  border-radius: 35px;     
  object-fit: cover;        
  aspect-ratio: 1 / 1;   
  width: 100%;
  max-width: 500px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.smooth-square:hover {
  transform: scale(1.05);
  box-shadow: 10px 25px rgba(0, 0, 0, 0.15);
}

.slideshow {
  width: 900px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

/* Hide radio buttons */
.slideshow input {
  display: none;
}

/* This is the moving strip */
.slides {
  display: flex;
  width: 500%;
  transition: transform 0.6s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* SLIDE CONTROL */
#r1:checked ~ .slides { transform: translateX(0%); }
#r2:checked ~ .slides { transform: translateX(-100%); }
#r3:checked ~ .slides { transform: translateX(-200%); }
#r4:checked ~ .slides { transform: translateX(-300%); }
#r5:checked ~ .slides { transform: translateX(-400%); }

/* DOTS */
.nav {
  text-align: center;
  margin-top: 10px;
}

.nav label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}
